<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicBook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-transperent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                   
                    <div class="btn pull-right">
                        <img  class ="img-circle pull-right" src=" @Url.Action("UserPhotos", "Home") " onerror="this.src='/img/ProfilePicAlt.png'" height="48" width="48"  />
                    </div>


                }               
                <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>                   
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PicBook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="pull-right">
            <p >&#x1F405; @DateTime.Now.Year - Vrachanskite tigri</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
