@model PicBook.Models.PhotoArticle
    @{
        ViewBag.Title = "Create";
    }

<div class="container">
    <div class="well">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Create", "PhotoArticle" , FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
         @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Image, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    <input type="file" name="Image" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.descprition, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.descprition, new { @class = "form-control", @rows = "7" })
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">             
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>

        }
    </div>
</div>
    

